body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #ac4caf;
    color: white;
    padding: 20px;
}

.profile-pic img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1 {
    margin: 10px 0;
}

.about, .projects {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}

a {
    color: #af4ca7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
